<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.gridstone.debugdrawer.timber"
    >

  <application>

    <provider
        android:name=".DebugDrawerTimberFileProvider"
        android:authorities="${applicationId}.au.com.gridstone.debugdrawer.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true"
        >

      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/paths"
          />

    </provider>

    <provider
        android:name=".LumberYardInstaller"
        android:authorities="${applicationId}.lumberyard-installer"
        android:exported="false"
        />

  </application>

</manifest>
